@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url(..//img/фон\ новый\ 2.jpg) 0 0;
  z-index: -2;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 0 10px 0 10px;
}

@media (max-width: 10800px) {
  .container {
    max-width: 71%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 71%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 71%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
a {
  color: cadetblue;
}

.left_menu {
  z-index: 0;
  position: absolute;
  top: 120px;
  left: 10px;
  max-width: 120px;
}
@media (max-width: 767px) {
  .left_menu {
    display: none;
    left: 2px;
  }
}
@media (max-width: 850px) {
  .left_menu {
    left: 2px;
  }
}
@media (min-width: 1500px) {
  .left_menu {
    left: 40px;
    top: 140px;
  }
}
.left_menu .container_left_menu .left_menu__item {
  box-shadow: 5px 5px 10px 5px gainsboro;
  width: 170px;
  padding: 7px 7px 7px 2px;
  background-color: white;
  border-radius: 5%;
}
@media (max-width: 1281px) {
  .left_menu .container_left_menu .left_menu__item {
    width: 160px;
  }
}
@media (max-width: 1021px) {
  .left_menu .container_left_menu .left_menu__item {
    width: 140px;
  }
}
@media (max-width: 950px) {
  .left_menu .container_left_menu .left_menu__item {
    width: 120px;
  }
}
.left_menu .container_left_menu .left_menu__item a {
  font-size: 17px;
  color: black;
  padding: 7px 0;
  display: block;
  font-weight: 600;
  line-height: 18px;
  border-bottom: 2px solid gray;
}
.left_menu .container_left_menu .left_menu__item a:hover {
  color: rgba(0, 0, 0, 0.671);
}
.left_menu .container_left_menu .left_menu__item a:active {
  color: black;
}
.left_menu .container_left_menu .left_menu__item a:last-child {
  border-bottom: 0px;
}
@media (max-width: 1021px) {
  .left_menu .container_left_menu .left_menu__item a {
    font-size: 14px;
  }
}
@media (max-width: 950px) {
  .left_menu .container_left_menu .left_menu__item a {
    font-size: 13px;
    padding: 4px 0;
  }
}
@media (max-width: 700px) {
  .left_menu .container_left_menu .left_menu__item a {
    font-size: 10px;
  }
}

.nav {
  z-index: 3;
  padding: 20px 0px 0px 0px;
  margin: 0px 0 0 400px;
  background-color: white;
  border-bottom: 3px solid black;
  position: sticky;
  top: 0;
}
.nav a {
  padding: 0;
  color: black;
}
@media (min-width: 2050px) {
  .nav a:first-child {
    padding: 0px 0 0 100px;
  }
}
@media (min-width: 2001px) {
  .nav {
    margin: 0px 0 0 300px;
  }
}
@media (max-width: 2000px) {
  .nav {
    margin: 0px 0 0 250px;
  }
}
@media (max-width: 1670px) {
  .nav {
    margin: 0px 0 0 200px;
  }
}
@media (max-width: 1320px) {
  .nav {
    margin: 0px 0 0 190px;
  }
}
@media (max-width: 1250px) {
  .nav {
    margin: 0px 0 0 180px;
  }
}
@media (max-width: 1175px) {
  .nav {
    margin: 0px 0 0 170px;
  }
}
@media (max-width: 1105px) {
  .nav {
    margin: 0px 0 0 155px;
  }
}
@media (max-width: 1001px) {
  .nav {
    margin: 0px 0 0 145px;
  }
}
@media (max-width: 940px) {
  .nav {
    margin: 0px 0 0 130px;
    border-bottom: 2px solid black;
  }
}
@media (max-width: 885px) {
  .nav {
    margin: 0;
    padding: 20px 0 0 8%;
  }
}
@media (max-width: 680px) {
  .nav {
    margin: 0;
    padding: 20px 0 0 10px;
  }
}
@media (max-width: 635px) {
  .nav {
    margin: 0;
    padding: 10px 0 0 0;
  }
}

.span_menu {
  display: none;
  position: absolute;
  width: 200px;
  padding: 20px 0 10px 5px;
  background-color: white;
  font-size: 17px;
}
.span_menu div {
  padding: 10px 0 0 0;
}
.span_menu div a {
  color: rgb(0, 163, 218);
  font-weight: 300;
}

.word {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (max-width: 635px) {
  .word {
    justify-content: space-between;
  }
}
.word a {
  color: #000;
}
.word a:hover {
  color: gray;
}
.word a:hover:active {
  color: black;
}
.word span {
  font-size: 30px;
  padding: 0px 37px 20px 37px;
}
.word span:hover {
  color: gray;
  align-items: flex-start;
}
.word span:hover .span_menu {
  display: block;
  color: black;
}
.word span:hover:active {
  color: black;
}
@media (max-width: 1470px) {
  .word span {
    padding: 0px 18px 20px 18px;
  }
}
@media (max-width: 1250px) {
  .word span {
    padding: 0px 10px 20px 10px;
  }
}
@media (max-width: 1025px) {
  .word span {
    padding: 0px 10px 20px 10px;
  }
}

@media (max-width: 1265px) {
  .a1 {
    display: none;
  }
}
@media (max-width: 1030px) {
  .a5 {
    display: none;
  }
}
@media (max-width: 635px) {
  .a2 {
    display: none;
  }
  .a3 {
    display: none;
  }
  .a4 {
    display: none;
  }
}
.a1 {
  z-index: 3;
}

.a2 {
  z-index: 3;
}
.a2 .main_menu {
  display: none;
}
.a2:hover .main_menu {
  display: block;
}

.a3 {
  z-index: 3;
}

.a4 {
  z-index: 3;
}

.a5 {
  z-index: 3;
}

.for_textarea__menu_open .for_textarea {
  display: none;
}
.for_textarea__menu_open:hover .for_textarea {
  display: block;
}
.for_textarea__menu_open:active .for_textarea {
  display: block;
}
.for_textarea__menu_open .notmain_menu {
  display: none;
}
.for_textarea__menu_open:hover .notmain_menu {
  display: block;
}
.for_textarea__menu_open:active .notmain_menu {
  display: block;
}

.for_textarea {
  z-index: 2;
  background-color: white;
  top: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 100px;
}
@media (min-width: 635px) {
  .for_textarea {
    top: 55px;
  }
}
@media (min-width: 680px) {
  .for_textarea {
    padding: 100px 250px;
  }
}
@media (min-width: 1100px) {
  .for_textarea {
    padding: 100px 500px;
  }
}
@media (min-width: 1500px) {
  .for_textarea {
    padding: 150px 800px;
  }
}

.textarea textarea {
  padding: 7px;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
}

.notmain_menu {
  z-index: 2;
  top: 0px;
  left: 0;
  position: fixed;
  background-color: white;
  width: 200px;
  height: 100px;
}
@media (max-width: 635px) {
  .notmain_menu {
    background-color: rgba(94, 94, 185, 0);
    top: 100px;
  }
}
@media (min-width: 1500px) {
  .notmain_menu {
    width: 300px;
  }
}

.main_menu {
  z-index: 2;
  background-color: white;
  top: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 100px;
}
.main_menu a {
  font-size: 15px;
  color: #69ade9;
  text-align: center;
  padding: 7px;
  display: block;
  font-weight: 600;
}
@media (min-width: 635px) {
  .main_menu {
    top: 55px;
  }
}

.school_icon {
  top: 5px;
  left: 40px;
  position: absolute;
  max-width: 170px;
  z-index: 1;
}
.school_icon img {
  max-width: 80%;
  max-height: 80%;
}
@media (max-width: 1670px) {
  .school_icon {
    left: 15px;
  }
}
@media (max-width: 1250px) {
  .school_icon {
    max-width: 150px;
  }
}
@media (max-width: 1105px) {
  .school_icon {
    max-width: 135px;
  }
}
@media (max-width: 1000px) {
  .school_icon {
    max-width: 120px;
    left: 20px;
  }
}
@media (max-width: 1000px) {
  .school_icon {
    max-width: 115px;
    left: 10px;
  }
}
@media (max-width: 885px) {
  .school_icon {
    display: none;
  }
}

.photo1 {
  z-index: 3;
  height: 40px;
  width: 40px;
  margin: 0px 10px 0 15px;
  background: url(..//img/лупа_4.png) 0 0/35px 35px no-repeat;
}
@media (max-width: 635px) {
  .photo1 {
    margin: 0 10px 0 20px;
  }
}

.photo2 {
  z-index: 3;
  height: 50px;
  width: 80px;
  margin: 0 0 0 20px;
  background: url(..//img/blind.gif) 0 0/56px 35px no-repeat;
}
@media (max-width: 1400px) {
  .photo2 {
    display: none;
  }
}
@media (min-width: 1469px) {
  .photo2 {
    margin: 0 0 0 1px;
  }
}
@media (min-width: 1490px) {
  .photo2 {
    margin: 0 0 0 20px;
  }
}

.photo3 {
  z-index: 3;
  height: 40px;
  width: 40px;
  margin: 0px 0px 0 10px;
  background: url(..//img/меню_2.png) 0 0/35px 35px no-repeat;
  display: none;
}
@media (max-width: 1400px) {
  .photo3 {
    display: block;
  }
}
@media (max-width: 635px) {
  .photo3 {
    margin: 0 20px 0 0;
  }
}

.menu_open .main_menu {
  display: none;
}
.menu_open:hover .main_menu {
  display: block;
}
.menu_open:active .main_menu {
  display: block;
}
.menu_open .notmain_menu {
  display: none;
}
.menu_open:hover .notmain_menu {
  display: block;
}
.menu_open:active .notmain_menu {
  display: block;
}

.content__picture {
  max-width: 900px;
  margin: 30px auto 0 auto;
}
.content__picture img {
  width: 100%;
}
@media (min-width: 600px) {
  .content__picture img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
}
@media (min-width: 1100px) {
  .content__picture img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
}

.columns .columns__titlef {
  padding: 49px 0 37px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .columns .columns__titlef {
    font-size: 20px;
    padding: 25px 0 15px 0px;
  }
}
.columns .columns__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 18px 0;
  margin: 0 -8px;
}
.columns .columns__column {
  flex: 0 1 50%;
  padding: 0 8px 32px 8px;
}
@media (max-width: 1100px) {
  .columns .columns__column {
    flex: 0 1 100%;
  }
}
.columns .columns__srow {
  display: flex;
}
@media (max-width: 500px) {
  .columns .columns__srow {
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .columns .a3_column {
    display: none;
  }
}
@media (max-width: 1010px) {
  .columns .a4_column {
    display: none;
  }
}
.columns .columns__pict {
  flex: 0 0 200px;
}
@media (max-width: 420px) {
  .columns .columns__pict {
    flex: 0 0 100%;
  }
}
.columns .columns__pict img {
  max-width: 100%;
}
.columns .columns__body {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
}
@media (max-width: 500px) {
  .columns .columns__body {
    padding: 15px 0 0 0px;
  }
}
.columns .columns__title {
  font-size: 18px;
  line-height: 22px;
  color: #69ade9;
}
.columns .columns__text {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.columns .columns__more {
  font-size: 14px;
  line-height: 18px;
  color: #69ade9;
  margin: 0 auto;
}

.columns__more {
  font-size: 14px;
  line-height: 18px;
  color: #69ade9;
  text-align: center;
  display: block;
  margin: -30px 0 0 0;
}

.content__headers {
  display: flex;
  display: none;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 0 0 20px;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .content__headers {
    font-size: 17px;
    padding: 20px 0 0 0px;
  }
}
.content__headers div {
  color: #660000;
  font-size: 17px;
  padding: 0px 20px 20px 20px;
  text-decoration: underline;
}
.content__headers div:hover {
  color: gray;
}

.content__main_information {
  font-weight: bold;
  text-align: center;
  padding: 40px 0 0 0;
  font-size: 25px;
}
@media (max-width: 500px) {
  .content__main_information {
    font-size: 20px;
    padding: 15px 0 0 0px;
  }
}

.content__main_information_next {
  padding: 10px 0 0 0;
  font-size: 17px;
  font-weight: 100;
  text-align: left;
  line-height: 22px;
}

.content__information_paragraph {
  padding: 10px 0 0 0;
  font-size: 17px;
  line-height: 22px;
}

.first_ul {
  padding: 0 0 0 20px;
}
.first_ul li {
  padding: 10px 0 0 0;
}
.first_ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin: 0 10px 0 0;
}

.second_ul {
  margin: 0 0 0 50px;
}
.second_ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: dimgrey;
  display: inline-block;
  margin: 0 10px 0 0;
}

.bold {
  font-weight: 600;
}

.braun {
  color: #660000;
  font-weight: 600;
}

.nomer {
  color: #90c2ed;
  cursor: pointer;
}

.footer__body {
  margin: 70px 0 0 0;
  background-color: #383838;
}
.footer__body .footer__row {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .footer__body .footer__row {
    flex-wrap: wrap;
  }
}
.footer__body .footer__image {
  padding: 70px 50px 30px 0;
  max-width: 500px;
}
.footer__body .footer__image img {
  max-width: 100%;
}
@media (max-width: 1120px) {
  .footer__body .footer__image {
    padding: 70px 50px 30px 20px;
  }
}
@media (max-width: 1000px) {
  .footer__body .footer__image {
    order: 2;
    padding: 20px 20px 20px 50px;
    display: none;
  }
}
.footer__body .footer__text {
  color: white;
  padding: 30px 0 30px 0;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .footer__body .footer__text {
    order: 1;
    padding: 20px 0px 20px 50px;
  }
}
@media (max-width: 540px) {
  .footer__body .footer__text {
    padding: 15px 0px 10px 20px;
    font-size: 20px;
  }
}
.footer__body .text_2 {
  font-weight: 100;
  color: white;
  padding: 30px 0;
  font-size: 20px;
}
@media (max-width: 540px) {
  .footer__body .text_2 {
    font-size: 15px;
    padding: 0px;
  }
}/*# sourceMappingURL=index.css.map */